@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/*--------TEMA 1 -------*/
:root.theme1{
    --t2_clr1: #222725;
    --t2_clr2::#E4E6C3;
    --t2_clr3: #9FA0FF;
    --t2_clr4: #BBADFF;
    --t2_clr5: #8895B3;
    --t1_clr7:  #899878;
}

/*--------TEMA 2 -------*/
:root.theme2{
    --t2_clr1: #F7F7F2;
    --t2_clr2:#E4E6C3;
    --t2_clr3: #899878;
    --t2_clr4: #222725;
    --t2_clr5: #121113;
    --t1_clr2:#8895B3;
    --t1_clr7: #DAB6FC ;
}

:root{

    --t2_clr1: #F7F7F2;
    --t2_clr2:#E4E6C3;
    --t2_clr3: #899878;
    --t2_clr4: #222725;
    --t2_clr5: #121113;
    --t1_clr2:#8895B3;
    --t1_clr7:  #DAB6FC ;
}

$ff-ubuntu: 'Poppins', sans-serif;

$border-radius: 10px;

$fw-400: 400;
$fw-500: 500;
$fw-300: 300;
$fw-700: 700;

$box-shadow: 2px 3px 11px 1px;


.fa, .fas, .far{
    margin-right: 50px;
    
}

.img-perfil{
    position:relative;
}
.img-1{
    position: absolute;
top:0; 
left:30px;
width:70px;
}

.h1-titulo-label{
    font-size: 1.5rem;
    font-family: $ff-ubuntu;
    font-weight: $fw-500;
    position: absolute;
}


html{

    body{

        width: 100%;
        max-width: 1600px;
        height: 100vh;
        margin:0 auto;
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows:  1fr;

        .header{
            background:var(--t2_clr2);
            height: 150px;
            width: calc(100%-50%);
            grid-row:  1 /1;
            align-items: center;
            justify-content: center;

            .nav{
                height: inherit;
                display:flex;
                align-items: center;

                .select-theme{
                    display: flex;
                    flex-direction: column;

                    .theme2{
                        width: 30px;
                        height: 30px;
                        background: var(--t1_clr7);
                        border-radius: 50%;
                        margin: 0 0 10px 30px;

                    }
                }
                
                .col1{
                    display:flex;
                    flex-direction: column;
                    width:60%;
                    height:inherit;
                    position: relative;

                    .img-perfil{
                        width: 50px;
                        height:10px;
                        position: relative;
                        
                    }

                    .saudacao-perfil{
                        margin: 0 0 0 130px; 
                        font-family: $ff-ubuntu;

                        span{
                            font-size: .8rem;
                        }

                        .h2{
                            font-size: 1.4rem;
                            font-weight: $fw-700;
                        }
                    }
                    .fas, .far{
                        margin-left: 100px;
                    }
                    .input{
                        width: 60%;
                        margin:30px 0 20px 10px;
                        border-radius: $border-radius;
                        outline: 0;
                        border: 0;
                        height:25px;
                        padding:0 0 0 20px;
                        font-family: $ff-ubuntu;
                        font-weight: $fw-500;
                        color:var(--t2_clr5);
                    }
                }

                .col2{
                    .row1{
                        display: flex;
                        .notification, .img-perfil{
                            width:30px;
                            height: 30px;
                            margin:0 0 0 50px;
                        }

                        .img-perfil{
                            img{
                            width: 40px;
                            left:-30px;
                            top:-5px;
                            }
                        }
                        
                        .notification{
                            a{
                                color: var(--t2_clr4);
                                transition: .3s;
                                &:hover{
                                    color:var(--t1_clr2);
                                }
                            }
                            .far{
                                font-size:30px;
                            }
                        }
                        
                        .user{
                            font-family: $ff-ubuntu;
                            font-weight: $fw-700;
                            font-size: 1rem;
                            margin-left: 10px;
                        }
                    }

                    .row2{
                        display: flex;
                        button{
                            border-radius: 15px;
                            cursor: pointer;
                            border: 0;
                            border: 1px solid var(--t2_clr4);
                            width:80px;
                            margin: 30px 30px 0 0;
                            font-weight: $fw-500;
                            height: 30px;
                            transition: .3s;
                            font-family: $ff-ubuntu;
                            &:hover{
                                background: var(--t2_clr4);
                                color:var(--t2_clr3);
                                filter: brightness(2);
                            }
                        }
                    }
                }
            }
            
        }
        .aside-left{
            background: var(--t2_clr4);
            height: 100vh;
            width: 100%;
            grid-column: 1;
            grid-row: 1 / 4;

                .h1{
                    font-size: 2rem;
                    text-align: center;
                    color:var(--t2_clr1);
                    padding:20px;
                    text-transform: uppercase;
                    font-family: $ff-ubuntu;
                    font-weight: $fw-700;
                }

                .list-menu1, .list-menu2{
                    margin-top: 100px;
                    a{
                        color:var(--t2_clr2);
                        //text-align: center;
                        
                        
                        .list-item{
                            width: 100%;
                            text-transform: uppercase;
                            font-size: .8rem;
                            padding: 10px 20px;
                            transition: .3s;
                            font-weight: $fw-500;
                            font-family: $ff-ubuntu;

                            &:hover{
                                background: var(--t2_clr1);
                                color:var(--t2_clr4);
                            }
                            
                        }
                    }
                }

        }
        
        .main{
            display: grid;
            
            grid-template-rows: auto;
            background: var(--t2_clr3);
            width: 100%;
            margin: 0;
            height: calc(100vh - 150px);

            .section{
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: 2fr 1fr;
                gap:5px;
                position:relative;

                .h1-titulo-label{
                    top:5px;
                    left:30px;
                }
                

                    .article{
                        grid-column: 1;
                        
                        height:100%;
                        min-height: 95%;
                        max-height: calc(100px - 250px);
                        width: inherit;
                        display:grid;
                        grid-template-columns: 1fr 1fr;
                        border-radius: $border-radius;
	                    //grid-template-rows: repeat(3, 100px);
                        
                        
                        gap:30px;
                        padding: 40px 20px 30px 30px ;

                            .projects{
                                
                                width:100%;
                                height:100%;
                                max-height: 200px;
                                background: white;
                                border-radius: $border-radius;
                                box-shadow: $box-shadow;
                                font-family: $ff-ubuntu;
                                position: relative;
                                

                                .bar{
                                    background: var(--t2_clr3);
                                    width: 10px;
                                    height: 100%;
                                    position: absolute;
                                    left: 0;
                                    border-radius: 30px 0 0 30px;
                                }

                                .h4{
                                    font-size:.9rem;
                                    padding: 5px 0 5px  20px;
                                    font-weight: $fw-700;
                                }
                                .p{
                                    font-size: .7rem;
                                    padding:20px;
                                }

                                .links{
                                    display: flex;
                                    width: 100%;
                                    justify-content: end;
                                    bottom:20px;
                                    position: absolute;
                                    align-self: center;


                                    a{
                                        color:var(--t2_clr4);
                                        transition: 0.2s;
                                        &:hover{
                                            color:var(--t2_clr3);
                                        }
                                        
                                    }
                                }
                            

                            }

                    }
                    .aside-right{
                        grid-column: 2;
                        display:grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 1fr;
                        gap:30px;
                        margin: 20px;
                        //padding:30px;

                        position: relative;
                        .h1-titulo-label{
                            top:-15px;
                            left:0;
                        }
                            
                        .hr{
                            width:100%;
                            border-width: 1px;
                            
                        }

                        
                        .announcements, .trending{
                            display: flex;
                            flex-direction: column;
                            padding: 10px;
                            font-family: $ff-ubuntu;
                            background: white;
                            
                            

                            a{
                                color:var(--t2_clr4);
                                transition: .3s;
                                &:hover{
                                    color:var(--t2_clr3);
                                }
                            }

                            .h4{
                                font-size:.9rem;
                                padding: 5px 0 0 20px;
                                font-weight: $fw-700;
                            }
                            .p{
                                font-size: .7rem;
                                padding:5px 20px;
                            }
                        }
                            .announcements{
                                grid-column: 1;
                                grid-row: 1;
                                width: 100%;
                                margin-top:20px;
                                height:90%;
                                border-radius: $border-radius;
                                box-shadow: $box-shadow;

                                .h1-titulo-label{
                                    top:5px;
                                }
                                
                            }

                            .trending{

                                .h1-titulo-label{
                                    top:-35px;
                                }
                                grid-column: 1;
                                width: 100%;
                                grid-row: 2;
                                position:relative;
                                margin-top:10px;
                                height:83%;
                                border-radius: $border-radius;
                                box-shadow: $box-shadow;

                                display:flex;
                                flex-direction: column;
                                padding:15px;

                                .container-trending{
                                    .user-trending{
                                        display:flex;
                                        flex-direction: row;

                                        .avatar{
                                            width:50px;
                                            height:50px;
                                            margin-right: 10px;
                                            position:relative;
                                            img{
                                                width:50px;
                                                position:absolute;
                                            }
                                        }
                                        .user-project{
                                            justify-content: center;
                                            display: flex;
                                            flex-direction:column;
                                            height: 50px;
                                            .user{
                                                font-size: 1rem;
                                                font-weight: $fw-700;
                                            }
                                            .user-trending{
                                                font-size: .8rem;
                                                font-weight: $fw-400;
                                            }
                                        }
                                    }
                                }
                            }

                    }


            }   
        }

        
    }
    
}